.header {
  border-bottom: 1px solid var(--header-border-cl);
}

.header__container {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  gap: var(--indent-header);
}

.contacts-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: color var(--animation-base);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.contacts-list__icon {
  fill: currentColor;
}
