.header {
  border-bottom: 1px solid var(--header-border-cl);
}

.header__container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.contacts-list {
  display: flex;
  // gap: var(--indent-header);
  // display: flex;
  flex-wrap: wrap;
  // gap: 10px;

  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.contacts-list__info {
  display: block;
}

.contacts-list__link {
  display: flex;
  font-weight: 500;

  font-size: 12px;

  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  // padding-top: 32px;
  // padding-bottom: 32px;

  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: color var(--animation-base);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.contacts-list__icon {
  fill: currentColor;
}
