.header {
  border-bottom: 1px solid var(--header-border-cl);
}

.header__container {
  display: flex;
  align-items: center;
}

.contacts-list {
  margin-left: auto;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    max-width: 138px;
  }

  @media screen and (min-width: 1200px) {
    gap: var(--indent-header);
  }
}
.contacts-list__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contacts-list__link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: color var(--animation-base);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts-list__icon {
  fill: currentColor;
}
