.main-nav {
  display: flex;
}

.site-nav {
  margin-left: 88px;
  display: flex;
  gap: var(--indent-header);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav__link {
  display: inline-block;
  color: var(--title-txt-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation-base);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.site-nav--current {
  position: relative;
  color: var(--accent-txt-cl);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-txt-cl);
    border-radius: 2px;
  }
}
