.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-main);
}

/* Ð¡haracteristics section */
.characteristic-set__item {
  // flex-basis: calc(
  //   (100% - var(--indent-main) * (var(--items-characteristic-section) - 1)) /
  //     var(--items-characteristic-section)
  // );

  @media screen and (min-width: 480px) {
    --items-characteristic-section: 1;
    flex-basis: calc(
      (100% - var(--indent-main) * (var(--items-characteristic-section) - 1)) /
        var(--items-characteristic-section)
    );
  }
  @media screen and (min-width: 768px) {
    --items-characteristic-section: 2;
    // flex-basis: calc(
    //   (100% - var(--indent-main) * (var(--items-characteristic-section) - 1)) /
    //     var(--items-characteristic-section)
    // );
  }
  @media screen and (min-width: 1200px) {
    --items-characteristic-section: 4;
    // flex-basis: calc(
    //   (100% - var(--indent-main) * (var(--items-characteristic-section) - 1)) /
    //     var(--items-characteristic-section)
    // );
  }
}

/* About us section */
.about-set {
  flex-basis: calc(
    (100% - var(--indent-main) * (var(--items-about-us) - 1)) /
      var(--items-about-us)
  );
}

/* Command section */
.command-card {
  flex-basis: calc(
    (100% - var(--indent-main) * (var(--items-command) - 1)) /
      var(--items-command)
  );
}
// client set

.client-item {
  --items-characteristic-section: 2;
  flex-basis: calc(
    (100% - var(--indent-main) * (var(--items-characteristic-section) - 1)) /
      var(--items-characteristic-section)
  );
  @media screen and (min-width: 768px) {
    --items-characteristic-section: 3;
  }
  @media screen and (min-width: 1200px) {
    --items-characteristic-section: 6;
  }
}

/* Portfolio section */
.portfolio-items {
  flex-basis: calc(
    (100% - var(var(--indent-main)) * (var(--items-portfolio) - 1)) /
      var(--items-portfolio)
  );
  cursor: pointer;
}

.btn-set {
  display: flex;
  gap: var(--indent-btn);
  justify-content: center;
  margin-bottom: 50px;
}
