// Footer join title

.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-txt-cl);

  &--indent-below {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
