.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__title--dark {
  color: var(--title-txt-cl);
}

.logo--right-indent {
  margin-right: auto;
}
.logo__title--white {
  color: var(--white-txt-cl);
}
