.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo__title--dark {
  color: var(--title-txt-cl);
}

.logo--right-indent {
  margin-right: auto;
}
.logo__title--white {
  color: var(--white-txt-cl);
}
