.subscribe-form {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}
.subscribe-input {
  display: inline-block;
  width: 100%;
  min-height: 50px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 1px solid var(--foter-subscribe-border-cl);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  color: var(--white-txt-cl);
  transition: color var(--animation-base), border-color var(--animation-base);

  &:focus {
    font-family: inherit;
    color: var(--white-txt-cl);
    border-color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
